<?xml version="1.0"?>
<robot name="rrrr">

    <link name="world"/>
    
    <link name="base_link">
        <inertial>
            <origin xyz="0.01601016 -0.01294874 1.02923951" rpy="0.0 0.0 0.0"/>
            <mass value="0.58108498"/>
            <inertia ixx="0.00221093" ixy="0.0" ixz="0.0" iyy="0.00095158" iyz="-0.00020330" izz="0.00256205"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/base_link.STL" scale="1 1 1"/>
            </geometry>
            <material name="Gris">
                <color rgba="0.15 0.18 0.22 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/base_link.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>       
    
    <joint name="world_to_base" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="link_1">
        <inertial>
            <origin xyz="0.00296154 0.00579816 1.02434988" rpy="0.0 0.0 0.0"/>
            <mass value="0.41520613"/>
            <inertia ixx="0.00172230" ixy="-0.00000380" ixz="0.00000042" iyy="0.00087982" iyz="0.00021009" izz="0.00205141"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_1.STL" scale="1 1 1"/>
            </geometry>
            <material name="Azul">
                <color rgba="0.10 0.30 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_1.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="j1" type="revolute">
        <origin xyz="0.0 0.0 0.07" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="link_1"/>
        <axis xyz="0.0 0.0 1"/>
        <limit lower="-3.14159265" upper="3.14159265" effort="10.0" velocity="1.0"/>
    </joint>

    <link name="link_2">
        <inertial>
            <origin xyz="-0.04925232 -0.01857965 0.97000000" rpy="0.0 0.0 0.0"/>
            <mass value="0.16007101"/>
            <inertia ixx="0.00048491" ixy="0.0" ixz="0.0" iyy="0.00024568" iyz="0.0" izz="0.00033574"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_2.STL" scale="1 1 1"/>
            </geometry>
            <material name="Cian">
                <color rgba="0.10 0.55 0.75 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_2.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="j2" type="revolute">
        <origin xyz="0.025 0.0 0.08" rpy="1.5708 0.0 0.0"/>
        <parent link="link_1"/>
        <child link="link_2"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-1.0379" upper="0.4714" effort="10.0" velocity="1.0"/>
    </joint>

    <link name="link_3">
        <inertial>
            <origin xyz="-0.04189326 -0.02459975 0.98000000" rpy="0.0 0.0 0.0"/>
            <mass value="0.13607101"/>
            <inertia ixx="0.00027338" ixy="0.0" ixz="0.0" iyy="0.00012724" iyz="0.0" izz="0.00022826"/>
        </inertial> 
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_3.STL" scale="1 1 1"/>
            </geometry>
            <material name="Turquesa">
                <color rgba="0.10 0.75 0.75 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_3.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="j3" type="revolute">
        <origin xyz="0.0 0.1 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="link_2"/>
        <child link="link_3"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-1.5708" upper="1.5708" effort="10.0" velocity="1.0"/>
    </joint>

    <link name="link_4">
        <inertial>
            <origin xyz="-0.00084870 -0.00100073 1.00483183" rpy="0.0 0.0 0.0"/>
            <mass value="0.10230176"/>
            <inertia ixx="0.00019657" ixy="0.0" ixz="0.00000012" iyy="0.00019510" iyz="-0.00000074" izz="0.00004901"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_4.STL" scale="1 1 1"/>
            </geometry>
            <material name="Blanco">
                <color rgba="0.40 0.90 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://rrrr/meshes/link_4.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="j4" type="revolute">
        <parent link="link_3"/>
        <child link="link_4"/>
        <origin xyz="0.0 0.085 0.0" rpy="-1.5708 1.5708 0.0"/>
        <axis xyz="0.0 0.0 1.0"/>
        <limit lower="-3.1416" upper="3.1416" effort="10.0" velocity="1.0"/>
    </joint>

    <link name="end_effector"/>
        <joint name="link_4_effector" type="fixed">
            <parent link="link_4"/>
            <child link="end_effector"/>
            <origin xyz="0.0 0.0 1.2266" rpy="0.0 0.0 0.0"/>
        </joint>

</robot>